@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body * {
  margin: 0;
  font-family: Roboto;
}

h1 {
  padding: 24px 0 24px 0;
}

.states,
.countries,
.cities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}

@media (min-width : 960px) {
  .states,
  .countries,
  .cities {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.countries div {
  color: white;
  background-color: lightslategray;
  padding: 10px;
}

.states div {
  color: white;
  background-color: slategray;
  padding: 10px;
}

.cities div {
  color: white;
  background-color: darkslategray;
  padding: 10px;
}

.city {
  text-align: center;
}

.city h2 {
  margin-bottom: 42px;
}